Source: wazo-backup
Section: comm
Priority: extra
Maintainer: Wazo Maintainers <dev@wazo.community>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 9)
Standards-Version: 3.9.6

Package: wazo-backup
Architecture: all
Provides: xivo-backup
Conflicts: xivo-backup
Replaces: xivo-backup
Description: Wazo backup scripts
 Wazo is a system based on a powerful IPBX, to bring an easy to
 install solution for telephony and related services.
 .
 This package ensure a local backup of the configuration and
 data (with databases), to be able to rollback to a previous
 working setup, and have files collected for remote backups.
